<div class="margin-bottom-4" id="subscription-page-1">
    <div class="row justify-content-center justify-content-lg-start">
        <div class="col-12 col-sm-11 col-md-10 col-lg-6">
            <h1 class="no-margin-top margin-bottom-4 h2">
                Subscribe to Australian Banking Daily now and enjoy 30% off for a limited time
            </h1>
            <p class="no-margin-top large">
                Go beyond the news with information you can act on.
            </p>
            <div class="accordion padding-bottom-4" id="offerAccordion">
                <div class="accordion-wrapper">
                    <div class="accordion-btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                        aria-controls="collapseOne">
                        <div class="accordion-icon">
                            <div class="icon-plus">
                                <div class="plus">
                                    <div class="horizontal"></div>
                                    <div class="vertical"></div>
                                </div>
                            </div>
                        </div>
                        <h3 class="accordion-label margin-y-0">
                            <strong>Unlimited Access</strong>
                            to banking specific journalism</h3>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#offerAccordion">
                        <div class="padding-bottom-2 accordion-content">
                            <ul class="margin-y-0">
                                <li class="small">Access the archive of all
                                    <em>Australian Banking Daily</em>
                                    articles and newsletters</li>
                                <li class="small">Login via your desktop or mobile device</li>
                                <li class="small">No ads, ever</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-wrapper">
                    <div class="accordion-btn" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                        aria-controls="collapseTwo">
                        <div class="accordion-icon">
                            <div class="icon-plus">
                                <div class="plus">
                                    <div class="horizontal"></div>
                                    <div class="vertical"></div>
                                </div>
                            </div>
                        </div>
                        <h3 class="accordion-label margin-y-0">
                            <strong>Dedicated emails</strong>
                            to help you manage your day</h3>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#offerAccordion">
                        <div class="padding-bottom-2 accordion-content">
                            <ul class="margin-y-0">
                                <li class="small">Extended policy coverage included in the
                                    <strong>Daily Briefing</strong>
                                    email</li>
                                <li class="small">
                                    <strong>This Sitting Week</strong>
                                    delivered early to your inbox every week Parliament is sitting</li>
                                <li class="small">
                                    <strong>Czar Report</strong>
                                    - important events and deadlines coming up in the month ahead</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-wrapper">
                    <div class="accordion-btn" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                        aria-controls="collapseThree">
                        <div class="accordion-icon">
                            <div class="icon-plus">
                                <div class="plus">
                                    <div class="horizontal"></div>
                                    <div class="vertical"></div>
                                </div>
                            </div>
                        </div>
                        <h3 class="accordion-label margin-y-0">
                            <strong>Exclusive features</strong>
                            that help your engagement in banking</h3>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#offerAccordion">
                        <div class="padding-bottom-2 accordion-content">
                            <ul class="margin-y-0">
                                <li class="small">
                                    <strong>My Calendar</strong>
                                    - never miss an important submission deadline</li>
                                <li class="small">Report &amp; policy
                                    <strong>summaries</strong>
                                    designed to save you time</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="margin-bottom-1 text-left">
                <a href="/subscription/get-started" class="subscription_begin_process btn btn-primary btn-lg">START FREE
                    TRIAL</a>
                <a class="use-ajax btn-clear link-dark text-right" href="/login?tab=login">LOGIN</a>
            </div>
            <div class="margin-bottom-3 text-left">
                <small>
                    <strong>Big team?</strong>
                    <a href="mailto:&#115;&#117;&#098;&#115;&#099;&#114;&#105;&#098;&#101;&#064;&#115;&#099;&#104;&#119;&#097;&#114;&#116;&#122;&#112;&#114;&#111;&#046;&#099;&#111;&#109;&#046;&#097;&#117;?subject=Schwartz Pro enterprise subscription request" "Contact Australian Banking Daily"
                        class="link-dark link-underline"
                        target="_blank">Contact us about enterprise pricing
                    </a>
                </small>
            </div>
            <div class="margin-bottom-2">
                <small>All subscriptions are auto-renewing but you can cancel anytime. Cancel before your 7-day trial
                    ends and you won’t be charged. You will be charged the introductory rate for the first 12 months, and thereafter will be charged the standard rate. Offers and pricing are subject to change without notice.</small>
            </div>
        </div>
        <div class="d-none d-lg-block offset-lg-1 col-lg-5 align-self-center">
            <picture>
                <source type="image/webp"
                    srcset=" 					        /modules/custom/schwartz_subscription/images/banking/banking-dashboard-subscription@400.webp 1000w, 					        /modules/custom/schwartz_subscription/images/banking/banking-dashboard-subscription@800.webp 1180w">
                <source type="image/jpg"
                    srcset=" 					        /modules/custom/schwartz_subscription/images/banking/banking-dashboard-subscription@400.jpg 1000w, 					        /modules/custom/schwartz_subscription/images/banking/banking-dashboard-subscription@800.jpg 1180w">
                <img src="/modules/custom/schwartz_subscription/images/banking/banking-dashboard-subscription@400.jpg"
                    alt="Australian Banking Daily" class="img-responsive">
            </picture>
        </div>
    </div>
</div>